@import "../config.rasi"

window {
  children: [ horibox ];
  width: 673px;
}

inputbar {
  enabled: false;
}

listview {
  layout: horizontal;
  spacing: 69.5px;
}

element {
  padding: 20px 40px 20px 20px;
  margin: 5;
}

horibox {
  children: [ listview ];
}
